@{
    ViewBag.Title = "Home Page";
}
<link href="StyleSheet1.css" rel="stylesheet"  />
<h1 style="font-family: Cambria; font-size:200%;">   Grand Circus Coffee Shop</h1><br /><br />
<a href="/Home/Register" style="font-family: Cambria; font-size:120%; color:black; border: hidden;">>> Register Here << </a>

